<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
      <add key="ApiKey" value="AIzaSyCINr6ugiC9_bGutqzm_0JH1NWN0Hy64D0" />
      <add key="SearchEngineId" value="003799214668602709329:tcag1-ztgry" />
    </appSettings>
</configuration>